<%= form_for(@medicine) do |f| %>
  <% if @medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
      <% @medicine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quality %><br>
    <%= f.number_field :quality %>
  </div>
  <div class="field">
    <%= f.label :org_price %><br>
    <%= f.number_field :org_price %>
  </div>
  <div class="field">
    <%= f.label :sale_price %><br>
    <%= f.number_field :sale_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
