#newMedicine.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Thuốc Mới
      .modal-body
        #new-medicine-message
        = form_for @medicine, url: medicines_path ,html: {class: 'form-horizontal', id: 'medicine-form', method: 'post'} do |f|
          .form-group
            %label.col-lg-2.control-label Tên
            .col-lg-10= f.text_field :name, class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Danh Mục
            .col-lg-10= f.select :medicine_category_id, options_for_select(@categories_select),{include_blank: "Select"}, class: 'form-control'
          .form-group
            %label.col-lg-2.control-label Qui Cách
            .col-lg-10= f.select :medicine_specification_id, options_for_select(@specifications_select), {include_blank: "Select"},class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Mô tả
            .col-lg-10= f.text_field :description, class: 'form-control', id: 'new-sku-eta'
      .modal-footer
        %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Hủy
        %button#create-medicine.btn.btn-primary{:type => "button"} Tạo
