%p#notice= notice
%p
  %strong Name:
  = @medicine.name
%p
  %strong Description:
  = @medicine.description
%p
  %strong Quantity:
  = @medicine.quantity
%p
  %strong Medicine specifications:
  = @medicine.medicine_specifications_id
%p
  %strong Medicine categories:
  = @medicine.medicine_categories_id
= link_to 'Edit', edit_medicine_path(@medicine)
|
= link_to 'Back', medicines_path
