<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicine.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @medicine.quantity %>
</p>

<p>
  <strong>Medicine specifications:</strong>
  <%= @medicine.medicine_specifications_id %>
</p>

<p>
  <strong>Medicine categories:</strong>
  <%= @medicine.medicine_categories_id %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
