<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @medicine.quality %>
</p>

<p>
  <strong>Org price:</strong>
  <%= @medicine.org_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @medicine.sale_price %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
