<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Medicine category:</strong>
  <%= @medicine.medicine_category_id %>
</p>

<p>
  <strong>Medicine type:</strong>
  <%= @medicine.medicine_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicine.description %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
