<%= form_for(@animal_group) do |f| %>
  <% if @animal_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_group.errors.count, "error") %> prohibited this animal_group from being saved:</h2>

      <ul>
      <% @animal_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.date_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
