<%= form_for(@bill_detail) do |f| %>
  <% if @bill_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill_detail.errors.count, "error") %> prohibited this bill_detail from being saved:</h2>

      <ul>
      <% @bill_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bill_id %><br>
    <%= f.number_field :bill_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :sale_price %><br>
    <%= f.text_field :sale_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
