#view-import-detail.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h2 Chi Tiết Nhập
      .modal-body
        = form_for import, html: {class: 'form-inline', id: 'pay-form', method: 'put'} do |f|
          .form-group
            %label{:for => ""} Đã Trả
            = f.number_field :pay, class: 'form-control', :required => true
            %button#pay-import.btn.btn-primary{:type => "button"} Lưu
        %table.table
          %thead
            %tr
              %th #
              %th Loại
              %th Tên
              %th Số Lượng
              %th Giá
              %th Tổng
          %tbody
            - products.each_with_index do |product, index|
              %tr
                %td= index+1
                %td= product[1].class
                %td= product[1].name
                %td= product[0].quantity
                %td= product[0].price
                %td= product[0].price * product[0].quantity
            %tr
              %td{:colspan => "4"}
              %td
                %b Tổng:
              %td= import.amount
            %tr
              %td{:colspan => "4"}
              %td
                %b Nợ:
              %td= import.amount - import.pay
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Đóng
