<%= form_for(@import_detail) do |f| %>
  <% if @import_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import_detail.errors.count, "error") %> prohibited this import_detail from being saved:</h2>

      <ul>
      <% @import_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :importable_id %><br>
    <%= f.number_field :importable_id %>
  </div>
  <div class="field">
    <%= f.label :importable_type %><br>
    <%= f.text_field :importable_type %>
  </div>
  <div class="field">
    <%= f.label :import_id %><br>
    <%= f.number_field :import_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
