%h1 Listing import_details
%table
  %thead
    %tr
      %th Quantity
      %th Price
      %th Importable
      %th Importable type
      %th Import
      %th{:colspan => "3"}
  %tbody
    - @import_details.each do |import_detail|
      %tr
        %td= import_detail.quantity
        %td= import_detail.price
        %td= import_detail.importable_id
        %td= import_detail.importable_type
        %td= import_detail.import_id
        %td= link_to 'Show', import_detail
        %td= link_to 'Edit', edit_import_detail_path(import_detail)
        %td= link_to 'Destroy', import_detail, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Import detail', new_import_detail_path
