<%= form_for(@food_specification) do |f| %>
  <% if @food_specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_specification.errors.count, "error") %> prohibited this food_specification from being saved:</h2>

      <ul>
      <% @food_specification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :food_specification_types_id %><br>
    <%= f.number_field :food_specification_types_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
