= form_for(@food_specification) do |f|
  - if @food_specification.errors.any?
    #error_explanation
      %h2
        = pluralize(@food_specification.errors.count, "error")
        prohibited this food_specification from being saved:
      %ul
        - @food_specification.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :capacity
    %br/
    = f.text_field :capacity
  .field
    = f.label :food_specification_types_id
    %br/
    = f.number_field :food_specification_types_id
  .actions
    = f.submit
