#newFood.modal.inmodal{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title New Food
      .modal-body
        #new-food-message
        = form_for @food, url: foods_path ,html: {class: 'm-t form-horizontal', id: 'food-form', method: 'post'} do |f|
          .form-group
            %label.col-lg-2.control-label Name
            .col-lg-10= f.text_field :name, class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Category
            .col-lg-10= f.select :food_category_id, options_for_select(@categories_select),{include_blank: false}, class: 'form-control'
          .form-group
            %label.col-lg-2.control-label Specification
            .col-lg-10= f.select :food_specification_id, options_for_select(@specifications_select), {include_blank: false},class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Description
            .col-lg-10= f.text_field :description, class: 'form-control', id: 'new-sku-eta'
          .modal-footer
            %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Cancel
            %button#create-food.btn.btn-primary{:type => "button"} Create
