%p#notice= notice
%p
  %strong Name:
  = @food.name
%p
  %strong Description:
  = @food.description
%p
  %strong Quantity:
  = @food.quantity
%p
  %strong Food specifications:
  = @food.food_specifications_id
%p
  %strong Food categories:
  = @food.food_categories_id
= link_to 'Edit', edit_food_path(@food)
|
= link_to 'Back', foods_path
