<h1>Listing medicine_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicine_types.each do |medicine_type| %>
      <tr>
        <td><%= medicine_type.name %></td>
        <td><%= link_to 'Show', medicine_type %></td>
        <td><%= link_to 'Edit', edit_medicine_type_path(medicine_type) %></td>
        <td><%= link_to 'Destroy', medicine_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine type', new_medicine_type_path %>
