<h1>Listing medicine_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicine_categories.each do |medicine_category| %>
      <tr>
        <td><%= medicine_category.name %></td>
        <td><%= link_to 'Show', medicine_category %></td>
        <td><%= link_to 'Edit', edit_medicine_category_path(medicine_category) %></td>
        <td><%= link_to 'Destroy', medicine_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine category', new_medicine_category_path %>
