= form_for(@medicine_specification) do |f|
  - if @medicine_specification.errors.any?
    #error_explanation
      %h2
        = pluralize(@medicine_specification.errors.count, "error")
        prohibited this medicine_specification from being saved:
      %ul
        - @medicine_specification.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :capacity
    %br/
    = f.text_field :capacity
  .field
    = f.label :medicine_specification_types_id
    %br/
    = f.number_field :medicine_specification_types_id
  .actions
    = f.submit
