%h1 Listing medicine_specifications
%table
  %thead
    %tr
      %th Capacity
      %th Medicine specification types
      %th{:colspan => "3"}
  %tbody
    - @medicine_specifications.each do |medicine_specification|
      %tr
        %td= medicine_specification.capacity
        %td= medicine_specification.medicine_specification_types_id
        %td= link_to 'Show', medicine_specification
        %td= link_to 'Edit', edit_medicine_specification_path(medicine_specification)
        %td= link_to 'Destroy', medicine_specification, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Medicine specification', new_medicine_specification_path
