%p#notice= notice
%p
  %strong Capacity:
  = @medicine_specification.capacity
%p
  %strong Medicine specification types:
  = @medicine_specification.medicine_specification_types_id
= link_to 'Edit', edit_medicine_specification_path(@medicine_specification)
|
= link_to 'Back', medicine_specifications_path
