= form_for(@food_specification_type) do |f|
  - if @food_specification_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@food_specification_type.errors.count, "error")
        prohibited this food_specification_type from being saved:
      %ul
        - @food_specification_type.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
