%h1 Listing food_specification_types
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @food_specification_types.each do |food_specification_type|
      %tr
        %td= food_specification_type.name
        %td= link_to 'Show', food_specification_type
        %td= link_to 'Edit', edit_food_specification_type_path(food_specification_type)
        %td= link_to 'Destroy', food_specification_type, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Food specification type', new_food_specification_type_path
