<h1>Listing food_specification_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_specification_types.each do |food_specification_type| %>
      <tr>
        <td><%= food_specification_type.name %></td>
        <td><%= link_to 'Show', food_specification_type %></td>
        <td><%= link_to 'Edit', edit_food_specification_type_path(food_specification_type) %></td>
        <td><%= link_to 'Destroy', food_specification_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food specification type', new_food_specification_type_path %>
