#newSpecification.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Qui Cách Mới
      .modal-body
        #new-product-specification-message
        .radio.i-checks
          %label
            %input#create-new-specification{:checked => "checked", :name => "specification", :type => "radio", :value => "0"}/
            = succeed "Tạo mới" do
              %i
        .radio.i-checks
          %label
            %input#use-exist-specification{:name => "specification", :type => "radio", :value => "1"}/
            = succeed "Đã có" do
              %i
        = form_for @specification, url: product_specifications_path ,html: {class: 'm-t form-horizontal', id: 'specification-form', method: 'post'} do |f|
          = f.fields_for :product_specification_type do |ff|
            .form-group
              %label.col-lg-2.control-label Tên
              .col-lg-10
                = ff.text_field :name, class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Qui cách
            .col-lg-10= f.select :product_specification_type_id, options_for_select(@specification_types_select),{include_blank: "Select"}, class: 'form-control'
          .form-group
            %label.col-lg-2.control-label Loại chứa
            .col-lg-10= f.select :capacity_type_id, options_for_select(@capacity_type_select),{include_blank: "Select"}, class: 'form-control'
          .form-group
            %label.col-lg-2.control-label Sức chứa
            .col-lg-10
              = f.text_field :capacity, class: 'form-control', :required => true
      .modal-footer
        %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Hủy
        %button#create-product-specification.btn.btn-primary{:type => "button"} Tạo
