#newProduct.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Sản Phẩm Mới
      .modal-body
        #new-product-message
        = form_for @product, url: products_path ,html: {class: 'form-horizontal', id: 'product-form', method: 'post'} do |f|
          .form-group
            %label.col-lg-2.control-label Loại
            .col-lg-10= f.select :product_type_id, options_for_select(@product_types_select), {include_blank: "Select"},class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Tên
            .col-lg-10= f.text_field :name, class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Danh Mục
            .col-lg-10= f.select :product_category_id, options_for_select(@categories_select),{include_blank: "Select"}, class: 'form-control'
          .form-group
            %label.col-lg-2.control-label Qui Cách
            .col-lg-10= f.select :product_specification_id, options_for_select(@specifications_select), {include_blank: "Select"},class: 'form-control', :required => true
          .form-group
            %label.col-lg-2.control-label Mô tả
            .col-lg-10= f.text_field :description, class: 'form-control', id: 'new-sku-eta'
      .modal-footer
        %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Hủy
        %button#create-product.btn.btn-primary{:type => "button"} Tạo
