<div class="modal inmodal" id="view-sale-detail" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
      	<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Loai</th>
							<th>Ten</th>
							<th>So Luong</th>
							<th>Gia</th>
							<th>Tong</th>
						</tr>
					</thead>
					<tbody>
					<%products.each_with_index do |product, index|%>
						<tr>
							<td><%=index+1%></td>
							<td><%=product[1].class%></td>
							<td><%=product[1].name%></td>
							<td><%=product[0].quantity%></td>
							<td><%=product[0].price%></td>
							<td><%=product[0].price * product[0].quantity%></td>
						</tr>
					<%end%>
					<tr>
						<td colspan="4"></td>
						<td><b>Tong: </b></td>
						<td><%=sale.amount%></td>
					</tr>
					</tbody>
				</table>
      </div>
      <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
    </div>
  </div>
</div>
