#view-sale-detail.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.animated.bounceInRight
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h2 Chi Tiết Hóa Đơn
      .modal-body
        = form_for pay_detail, html: {class: 'form-inline', id: 'pay-form', method: 'post', data: {sale: sale.id}} do |f|
          .form-group
            %label{:for => :pay}
              %b Trả
            = f.hidden_field :payable_id
            = f.hidden_field :payable_type
            = f.number_field :pay, class: 'form-control', :required => true, min: 10000
            %button#pay-sale.btn.btn-primary{:type => "button"} Lưu
        %table.table
          %thead
            %tr
              %th.text-center{colspan: '6'}Chi Tiết Hóa Đơn
            %tr
              %th #
              %th Loại
              %th Tên
              %th Số Lượng
              %th Giá
              %th Tổng
          %tbody
            - products.each_with_index do |product, index|
              %tr
                %td= index+1
                %td= product[1].class
                %td= product[1].name
                %td= product[0].quantity
                %td= product[0].price
                %td= product[0].price * product[0].quantity
            %tr
              %td{:colspan => "4"}
              %td
                %b Tổng:
              %td= sale.amount
            %tr
              %td{:colspan => "4"}
              %td
                %b Nợ:
              %td= payed

        %table.table
          %thead
            %tr
              %th.text-center{colspan: '3'} Chi Tiết Trả
            %tr
              %th #
              %th Ngày
              %th Trả
          %tbody
            - pay_details.each_with_index do |pay_detail, index|
              %tr
                %td= index+1
                %td= pay_detail.pay_at.strftime('%d-%m-%Y')
                %td= pay_detail.pay
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Đóng
