<p id="notice"><%= notice %></p>

<p>
  <strong>Sale at:</strong>
  <%= @sale.sale_at %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @sale.pay %>
</p>

<p>
  <strong>Owe:</strong>
  <%= @sale.owe %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
