!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Animal Medical Services
    / Include style per-controller - vendor plugins
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
    / Main css styles
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/topnavbar'
    / BEGIN CONTAINER
    .page-container.row-fluid
      / BEGIN SIDEBAR
      = render 'layouts/navigation'
      .page-content
        = yield
      / END SIDEBAR
    = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
    