= form_for(@sale_detail) do |f|
  - if @sale_detail.errors.any?
    #error_explanation
      %h2
        = pluralize(@sale_detail.errors.count, "error")
        prohibited this sale_detail from being saved:
      %ul
        - @sale_detail.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :quantity
    %br/
    = f.number_field :quantity
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .field
    = f.label :saleable_id
    %br/
    = f.number_field :saleable_id
  .field
    = f.label :saleable_type
    %br/
    = f.text_field :saleable_type
  .field
    = f.label :bill_id
    %br/
    = f.number_field :bill_id
  .actions
    = f.submit
