<%= form_for(@sale_detail) do |f| %>
  <% if @sale_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_detail.errors.count, "error") %> prohibited this sale_detail from being saved:</h2>

      <ul>
      <% @sale_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :saleable_id %><br>
    <%= f.number_field :saleable_id %>
  </div>
  <div class="field">
    <%= f.label :saleable_type %><br>
    <%= f.text_field :saleable_type %>
  </div>
  <div class="field">
    <%= f.label :bill_id %><br>
    <%= f.number_field :bill_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
