%h1 Listing sale_details
%table
  %thead
    %tr
      %th Quantity
      %th Price
      %th Saleable
      %th Saleable type
      %th Bill
      %th{:colspan => "3"}
  %tbody
    - @sale_details.each do |sale_detail|
      %tr
        %td= sale_detail.quantity
        %td= sale_detail.price
        %td= sale_detail.saleable_id
        %td= sale_detail.saleable_type
        %td= sale_detail.bill_id
        %td= link_to 'Show', sale_detail
        %td= link_to 'Edit', edit_sale_detail_path(sale_detail)
        %td= link_to 'Destroy', sale_detail, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sale detail', new_sale_detail_path
