<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @sale_detail.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale_detail.price %>
</p>

<p>
  <strong>Saleable:</strong>
  <%= @sale_detail.saleable_id %>
</p>

<p>
  <strong>Saleable type:</strong>
  <%= @sale_detail.saleable_type %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @sale_detail.bill_id %>
</p>

<%= link_to 'Edit', edit_sale_detail_path(@sale_detail) %> |
<%= link_to 'Back', sale_details_path %>
